@import url('normalize.css');

/*GLOBAL*/

a{
    color: inherit;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

div{
    background-color: grey;
}

/*SECTIONS*/

.sectionHeader{
    background-color: #76c7c0;
    height: 80px;
    padding: 10px 0 10px 0;
}

.sectionGallery{
    background-color: salmon;
}

.sectionServices{
    background-color: gold;
}

.sectionAbout{
    background-color: coral;
}

.sectionDetails{
    background-color: cyan;
}

.sectionClients{
    background-color: lime;
}

.sectionFooter{
    background-color: #76c7c0;
}

.sectionCopyrights{
    background-color: #6ab3ac;
    height: 50px;
}

/*BACKGROUNDS*/

.bgRulerTop{
    background-image: url('../img/footer_bg.png');
    background-position: top;
    background-repeat: repeat-x;
}

.bgRulerBottom{
    background-image: url('../img/header_bg.png');
    background-position: bottom;
    background-repeat: repeat-x;
}

/*LI STYLING*/

.bulletsArrow1::before{
    content: "→";
    color: red;
    padding-right: 0.5rem;
}

.bulletsArrow2::before{
    content: ">";
    color: red;
    padding-right: 0.5rem;
}

/*TEXT STYLING*/

.text-white{
    color: white;
}
