@import url('normalize.css');

/*GLOBAL*/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

a{
    color: inherit;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

h1{
    font-size: 3rem;
    font-weight: 800;
}

h2{
    font-size: 1.8rem;
    font-weight: 800;
}

h3{
    font-size: 1rem;
    margin: 0;
}

/*SECTIONS*/

.sectionHeader{
    background-color: #76c7c0;
    padding: 10px 0 10px 0;
}

.sectionGallery{
    background-color: #f3f3f3;
}

.sectionServices{
    background-color: #f3f3f3;
    padding: 55px 0 20px 0;
}

.sectionAbout{
    background-color: #ececec;
    padding: 20px 0 20px 0;
}

.sectionDetails{
    padding: 20px 0 20px 0;
    background-color: #f3f3f3;

}

.sectionClients{
    background-color: #f3f3f3;
    padding: 20px 0 20px 0;
}

.sectionFooter{
    background-color: #76c7c0;
    padding-top: 20px;
}

.sectionCopyrights{
    background-color: #6ab3ac;
}

/*PADDING STYLING*/

.rowPadding10{
    padding: 10px 0 10px 0;
}

.rowPadding20{
    padding: 20px 0 20px 0;
}

.rowMargin10{
    margin: 10px 0 10px 0;
}

.padding10{
    padding: 10px;
}

.margin0{
    margin: 0;
}

.padding0{
    padding: 0;
}

.btnPadding{
    padding: 5px 20px 5px 20px;
}

.infoTabPadding{
    padding: 30px 15px 30px 15px; /* padding for inner content. Top larger because of btns */
}

.marginBottom20{
    margin-bottom: 40px;
}

/*BACKGROUNDS*/

.bgRulerTop{
    background-image: url('../img/footer_bg.png');
    background-position: top;
    background-repeat: repeat-x;
}

.bgRulerBottom{
    background-image: url('../img/header_bg.png');
    background-position: bottom;
    background-repeat: repeat-x;
}

.bgColorWhite{
    background-color: white;
}

.bgColorRed{
    background-color: #e2534b;
    color: white;
}

.bgColorTransparent{
    background-color: rgba(0, 0, 0, 0.5);
}

.bgColorGrey{
    background-color: #d3d3d3;
}

.bgColorLightGrey{
    background-color: #ececec;
}

.bgColorVeryLight{
    background-color: #f3f3f3;
}

/*LI STYLING*/

.bulletsArrow1::before{
    font-family: FontAwesome;
    content: "\f061";
    color: #e2534b;
    padding-right: 0.5rem;
    font-size: 0.7rem;
    vertical-align: middle;
}

.bulletsArrow2::before{
    font-family: FontAwesome;
    content: "\f054";
    padding-right: 0.5rem;
    font-size: 0.7rem;
    vertical-align: middle;
}

/*NAVBAR STYLING*/
.navbar li{
    padding: 5px;
    border-bottom: 2px solid transparent;
}

.navbar li:hover{
    background-color: #e8645a;
    border-radius: 0.5rem;
    border-bottom: solid 2px #e2534b;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dropMenuStyle{
    box-sizing: border-box;
    background-color: #e2534b;
    border-radius: 0.5rem;
    padding: 3px;
}

.dropMenuStyle a{
    border-bottom: solid 2px #e2534b;
    color: white;
    background-color: #e8645a;
    border-radius: 0.5rem;
}

.dropdown-menu.show{
background-color: transparent;
border: none;
}

.dropdown-toggle::after{
    display: none;
}

.navbar .active{
    background-color: red;
}

/*TEXT STYLING*/

.text-white{
    color: white;
}

.text-grey{
    color:#7f8c8c;
}

.text-red{
    color: #e2534b;
}

.text-green{
    color: #76c7c0;
}

.text-darkGreen{
    color: #3b6360;
}

.text-caps{
    text-transform: uppercase;
}

.text-italic{
    font-style: italic;
}

/*BUTTON STYLING*/

.btnWidth60{
    width: 60%;
}

.offsetMid{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.offsetMidTop{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.offsetMidBottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
}

.offsetLeft{
    position: relative;
    left: 5%;
}

.offsetRight{
    position: relative;
    right: 5%;
}

.btn-info{
    background-color: #76c7c0;
    border-color: #76c7c0;
}

.btn-info:hover{
    background-color: #e2534b;
    border-color: #e2534b;
}

.btn-danger{
    background-color: #e2534b;
    border-color: #e2534b;
}

.btn-secondary:hover{
    background-color: #e2534b;
    border-color: #e2534b;
}

/*ANCHOR STYLING*/
a:hover{
    text-decoration: none;
    color: #e2534b;
}

/*HOVER STYLINGS*/

.infoTab:hover{
    background-color: #76c7c0;
    color: white;
    transition: 0.2s;
}

.infoTab:hover button{
    background-color: #e2534b;
    border-color: #e2534b;
    transition: 0.2s;
}

/*CAROUSEL STYLING*/

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner{
    max-height: 500px;
    height: auto;
}

.carousel-caption-middle{
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
    position: absolute;
}

.carousel-control-next, .carousel-control-prev{
    width: unset;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #e2534b;
    width: 50px;
    height: 30px;
    padding: 10px;
    background-size: 50%;
}

.carousel-indicators{
    bottom: -30px;
}

.carousel-indicators li{
    width: 60px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #b0b8b9;
}

.carousel-indicators .active{
    background-color: #e2534b;
}

.carousel-caption{
    bottom: unset;
}

.carousel-item{
    max-height: 500px;
}

/* not working properly. img not centering verticaly */
/*.carousel-item img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}*/

/*DIV STYLING*/

.roundedCorner{
    border-radius: 0.5rem;
}

.shadowBottom{
    border-bottom: solid 2px #c3c3c3;
}

.quoteBox{
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

.quoteBox p{
    margin: 0;
    font-style: italic;
    text-align: justify;
}

.triangle{
	width: 0;
	height: 0;
	border-top: 20px solid white;
	border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 10px;
}

.triangle2{
    width: 0;
    height: 0;
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #e2534b transparent;
    left: 5px;
}

.triangle3{
    width: 0;
    height: 0;
    float: left;
    position: relative;
    bottom: -10px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ececec transparent transparent transparent;

}

/*IMG STYLING*/

.image-full{
    width: 100%;
}

.projectTab{
    margin-bottom: 15px;
}

.projectTabCaption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #76c7c0;
}

.projectTab:hover .projectTabCaption{
    opacity: 1;
}

.projectTabCaptionContent{
    color: white;
}

.projectTabCaptionContent a i{
    background-color: #74b7b0;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}

.projectTabCaptionContent a i:hover{
    background-color: #e2534b;
    color: white;
}


/*FORM STYLING*/
input, textarea{
    background-color: #e4e6e6;
    border-radius: 0.3rem;
    border-top: 2px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 2px solid #d3d3d3;
}


/* MEDIA QUERY OVERWRIGHTS */

@media (max-width: 576px) {
    .projectTab{
        margin-top: 0;
        margin-bottom: 20px;
    }
}
